* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  /* background-color: lightcoral; */
  height: 65vh;
  width: 60vw;
  margin: 10vh auto 0;
  font-family: 'Roboto', sans-serif;

  display: flex;
}

.searchBar {
  background-color: lightblue;
  flex: 1;
  margin: 0.5em;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

}

.search {
  margin-top: 20px;
}

.search form input {
  margin-left: 20px;
  height: 20px;
  width: 50%;
  border: 0;
  border-radius: 2px;
}

.search form button {
  padding: 5px;
  margin-left: 5px;
  background-color: white;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.search form button:hover {
  background-color: #eee;
}

#result {
  list-style-type: none;
  padding: 0;
  margin: 0;
  
}

#result li {
  margin-left: 20px;
  padding: 5px 0;
  cursor: pointer;
}

#result li:hover {
  background-color: #eee;
  font-weight: bold;
}

.showCity {
  font-size: 24px;
}

.showUpdate {
  font-size: 14px;
  text-align: center;
}

.mainContent {
  background-color: lightblue;
  flex: 2;
  margin: 0.5em;
  border-radius: 10px;
  position: relative;
}

.loader {
  height: 80px;
  width: auto;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.loader.visible {
  display: flex;
}

.mainContent h1 {
  margin-top: 10px;
  margin-left: 30px;
  font-size: 30px;
}

.main1 {
  display: flex;
  flex-direction: column;
}

.icotemp {
  height: 15vh;
  display: flex;
  justify-content: space-around;
}

.icotemp .temp {
  align-self: center;
  font-size: 60px;
}

.main2 {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  margin-top: 15px;
  margin-left: 25px;
  line-height: 35px;
}

.main2 .opis {
  margin-bottom: 15px;
}

.windDir {
  height: 30px;
  width: 30px;
  background-image: url(./img/wiatr.png);
  background-size: cover;
}

.windBox {
  display: flex;
  gap: 5px;
}

.forecastBar {
  margin: 0.5em;
  flex: 1;
  
  display: flex;

  justify-content: space-between;
  flex-wrap: wrap;

}

.forecastBar > * {
  background-color: lightblue;
  width: 80%;
  margin-bottom: 0.5rem;
  border-radius: 10px;
}

.forecastBar:nth-last-child(1) {
  margin-bottom: 0;
}

h3 {
  padding: 5px 0 0 10px;
  cursor: pointer;
}

h3:hover {
  transform: scale(0.9);
}

.aside {
  text-align: center;
  font-size: 16px;
  display: flex;
  flex-direction: column;
}

.icotemp .burza {
  height: 100px;
  width: 100px;
  background-image: url(./img/burza.png);
  background-size: cover;
  align-self: center;
}

.aside .burza {
  height: 50px;
  width: 50px;
  background-image: url(./img/burza.png);
  background-size: cover;
  align-self: center;
}

.icotemp .chmury1 {
  height: 100px;
  width: 100px;
  background-image: url(./img/chmury1.png);
  background-size: cover;
  align-self: center;
}

.aside .chmury1 {
  height: 50px;
  width: 50px;
  background-image: url(./img/chmury1.png);
  background-size: cover;
  align-self: center;
}

.icotemp .chmury2 {
  height: 100px;
  width: 100px;
  background-image: url(./img/chmury2.png);
  background-size: cover;
  align-self: center;
}

.aside .chmury2 {
  height: 50px;
  width: 50px;
  background-image: url(./img/chmury2.png);
  background-size: cover;
  align-self: center;
}

.icotemp .chmury3 {
  height: 100px;
  width: 100px;
  background-image: url(./img/chmury3.png);
  background-size: cover;
  align-self: center;
}

.aside .chmury3 {
  height: 50px;
  width: 50px;
  background-image: url(./img/chmury3.png);
  background-size: cover;
  align-self: center;
}

.icotemp .deszcz1 {
  height: 100px;
  width: 100px;
  background-image: url(./img/deszcz1.png);
  background-size: cover;
  align-self: center;
}

.aside .deszcz1 {
  height: 50px;
  width: 50px;
  background-image: url(./img/deszcz1.png);
  background-size: cover;
  align-self: center;
}

.icotemp .deszcz2 {
  height: 100px;
  width: 100px;
  background-image: url(./img/deszcz2.png);
  background-size: cover;
  align-self: center;
}

.aside .deszcz2 {
  height: 50px;
  width: 50px;
  background-image: url(./img/deszcz2.png);
  background-size: cover;
  align-self: center;
}

.icotemp .mgla {
  height: 100px;
  width: 100px;
  background-image: url(./img/mgla.png);
  background-size: cover;
  align-self: center;
}

.aside .mgla {
  height: 50px;
  width: 50px;
  background-image: url(./img/mgla.png);
  background-size: cover;
  align-self: center;
}

.icotemp .slonce {
  height: 100px;
  width: 100px;
  background-image: url(./img/slonce.png);
  background-size: cover;
  align-self: center;
}

.aside .slonce {
  height: 50px;
  width: 50px;
  background-image: url(./img/slonce.png);
  background-size: cover;
  align-self: center;
}

.icotemp .snieg {
  height: 100px;
  width: 100px;
  background-image: url(./img/snieg.png);
  background-size: cover;
  align-self: center;
}

.aside .snieg {
  height: 50px;
  width: 50px;
  background-image: url(./img/snieg.png);
  background-size: cover;
  align-self: center;
}





